@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, #4066c7, #172956);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 1200px;
  height: 770px;
  border-radius: 30px;
  background-color: #ffffff80;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}

h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: #ffffff;
  margin-top: 50px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.content-nav-bar {
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.add-task-button {
  width: 450px;
  height: 60px;
  background-color: #ffffffbf;
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  color: #141414;
}

.select-task-button {
  width: 180px;
  height: 60px;
  background-color: #ffffffbf;
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  color: #141414;
}
