@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
}

body {
  background: linear-gradient(to bottom, #4066c7, #172956);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 1200px;
  height: 770px;
  border-radius: 30px;
  background-color: #ffffff80;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}

h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: #ffffff;
  margin-top: 50px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.content-nav-bar {
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.add-task-button {
  width: 450px;
  height: 60px;
  background-color: #ffffffbf;
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  color: #141414;
  transition: 0.5s;
}

a {
  color: #141414;
}

.select-task-button {
  width: 180px;
  height: 60px;
  background-color: #ffffffbf;
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  color: #141414;
  transition: 0.4s;
}

.select-task-button:hover,
.add-task-button:hover {
  opacity: 0.8;
}

.select-task-button:active,
.add-task-button:active {
  transform: scale(0.98);
}

.index-main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffffbf;
  margin-top: 50px;
  width: 1100px;
  height: 460px;
  padding: 18px 61px;
  border-radius: 20px;
}

table {
  width: 100%;
  font-weight: 400;
  font-size: 24px;
}

tbody,
thead {
  text-align: center;
}

p {
  margin: auto;
  font-weight: 400;
  font-size: 24px;
  color: #141414;
}

.addTask-main-content {
  background-color: #ffffff;
  width: 1100px;
  height: auto;
  border-radius: 20px;
  padding: 30px 50px;
  margin-top: 25px;
}

.title-text > h1 {
  color: #000000;
  font-weight: 400;
  font-size: 32px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

label {
  font-weight: 400;
  font-size: 24px;
  color: #141414;
  margin-top: 10px;
}

input,
label > input,
textarea {
  border: 2px solid #adadad;
  border-radius: 5px;
  color: #141414;
  font-size: 18px;
  font-weight: 400;
}

#task-priority {
  padding: 5px 10px;
  border-radius: 10px;
}

#task-date {
  border-radius: 10px;
  padding: 0 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.addTask-button {
  display: inline-block;
  width: 50%;
  height: 50px;
  border: none;
  background-color: #172956;
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
}

.addTask-button:hover {
  opacity: 0.9;
}

.addTask-button:active {
  transform: scale(0.98);
}

.return-link {
  color: rgb(12, 12, 189);
  text-decoration: underline;
  width: 10%;
}
